[submodule "modules/check_mk"]
	path = modules/check_mk
	url = git@github.com:Firebladee/check_mk.git
[submodule "modules/omd"]
	path = modules/omd
	url = git@github.com:Firebladee/omd.git
[submodule "modules/dirtree"]
	path = modules/dirtree
	url = git@github.com:AlexCline/puppet-dirtree.git
[submodule "modules/3fs"]
	path = modules/3fs
	url = git@github.com:Firebladee/3fs.git
[submodule "modules/moodle"]
	path = modules/moodle
	url = git@github.com:Firebladee/moodle.git
