[submodule "modules/omd"]
	path = modules/omd
	url = git@github.com:Firebladee/omd.git
[submodule "modules/apache"]
	path = modules/apache
	url = https://github.com/puppetlabs/puppetlabs-apache
[submodule "modules/puppetdb"]
	path = modules/puppetdb
	url = https://github.com/puppetlabs/puppetlabs-puppetdb.git
